//block_colors
$form_search_top_background_color: #68b4e8;
$form_search_top_background_gradient: linear-gradient(90deg, #68b4e8 0%, #93d7ea 100%);
$form_search_bottom_background_color: #E2F2FF;

//buttons_colors
$button_background_color: #2f9a67;
$button_bottom_text_color: #8495a1;
$button_bottom_text_color_active: #416983;

//select_colors
$appearance_color: #5A768E;

//wrapper
$wrapper_width: 940px;

//font
$font: 'PT Sans', sans-serif;

//transition
$transition_all: all ease .3s;

