@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import "search_variables";

.search-wrapper {
  font-family: $font;
  max-width: 100%;
  width: $wrapper_width;

  &__center {
    margin: 0 auto;
  }
}

.search-flex {
  display: flex;
  flex-direction: row;

  &-1 {
    flex: 1
  }

  &-wrap {
    flex-wrap: wrap;
  }

  &-space-between {
    justify-content: space-between;
  }

  &-space-around {
    justify-content: space-around;
  }
}
.search-visible-small{
  display: none;

  @media (max-width: 424px) {
    display: flex;
  }
}

.search-select,
.search-button,
{

  &-clear {
    background: transparent;
    border-radius: 0;
  }
}

@import "search_variables";

.search-background {
  background: $form_search_top_background_color;
  background: $form_search_top_background_gradient;
}

.form-search {
  $form-search: &;
  box-sizing: border-box;

  &-divider {
    box-sizing: border-box;
    border-right: 1px solid transparent;

    &:last-child {
      border: none;
    }

  }

  &-top {
    padding: 36px 20px 28px;

    &__select_block {
      border-radius: 3px 0 0 3px;
      overflow: hidden;
      width: calc(100% - 130px);
      @media (max-width: 767px) {
        border-radius: 3px 3px 0 0;
        width: 100%;
      }

      #{$form-search}-divider {
        @media (max-width: 767px) {
          border-bottom: 1px solid transparent;
          border-right: none;
        }
      }
    }

    &__input_container {
      border-radius: 3px 0 0 3px;
      overflow: hidden;
      width: calc(100% - 130px);

      @media (max-width: 767px) {
        border-radius: 3px 3px 0 0;
        width: 100%;
      }
    }

    .search-panels {
      $search-panels: &;
      margin: 28px 0 8px 0;
      width: 100%;

      .search-panels__input {
        border-radius: 3px;
        overflow: hidden;

        #{$form-search}-divider {
          @media (max-width: 424px) {
            border-bottom: 1px solid transparent;
            border-right: none;
          }
        }
      }

      &__price {
        .search-panels__input {
          width: 61%;
          @media (max-width: 767px) {
            width: 100%;
          }

          & > * {
            width: 33%;
            @media (max-width: 424px) {
              width: 100%;
            }
          }

          & + .search-panels__button {
            @media (max-width: 767px) {
              margin-top: 14px;
            }
          }
        }

        .search-panels__button {
          width: 36%;
          @media (max-width: 767px) {
            width: 100%;
          }
        }
      }

      &__metric {
        .search-panels__input {
          width: 36%;
          @media (max-width: 767px) {
            width: 100%;
          }

          #{$form-search}-divider {
            @media (max-width: 424px) {
              border-bottom: 1px solid transparent;
              border-right: none;
            }
          }

          &_element {
            width: calc((100% - 54px) / 2);
            @media (max-width: 424px) {
              width: calc(100% - 54px);
            }
          }

          &-text {
            width: 54px;
          }
        }

        .search-panels__button {
          width: 61%;

          & + .search-panels__input {
            @media (max-width: 767px) {
              margin-top: 14px;
            }
          }

          @media (max-width: 767px) {
            width: 100%;
          }
        }
      }
    }
  }

  &-bottom {
    background: $form_search_bottom_background_color;
    box-sizing: border-box;
    line-height: 23px;
    padding: 11px 20px 11px 20px;

    .search-align {
      &-left {
        text-align: left;
        @media (max-width: 600px) {
          text-align: center;
        }
      }

      &-right {
        text-align: right;
        @media (max-width: 600px) {
          text-align: center;
        }
      }
    }

    & > div {
      @media (max-width: 600px) {
        width: 100%;
      }

      & + div {
        @media (max-width: 600px) {
          margin-top: 14px
        }
      }
    }
  }

  .search-panel-price {
    width: 100%;
  }
}
